# List required packages in this file, one per line.
argparse
pandas
nibabel
nipype
nilearn
duecredit
pybids
# tools
pydeface @ git+https://github.com/poldracklab/pydeface.git
quickshear @ git+https://github.com/nipy/quickshear.git
nobrainer @ git+https://github.com/neuronets/nobrainer.git